N8N/Syllabus Advisor Bot/Syllabus_Advisor.json
{
  "name": "Syllabus_Advisor",
  "nodes": [
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "assistant",
          "mode": "list",
          "cachedResultName": "assistant"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        816,
        0
      ],
      "id": "ee7f5559-3fd2-48b9-b6d4-47e9876e2fd1",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "27E2ct9YptpAqVVa",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        800,
        224
      ],
      "id": "00b9f22c-5830-402f-955d-5c0220eb013f",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "OvQkcvgFOY5mUqhG",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "textSplittingMode": "custom",
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "={\n  \"filename\": \"{{ $json.name }}\",\n  \"drive_id\": \"{{ $json.id }}\",\n  \"board\": \"{{ ($json.name || '').split('_')[0] }}\",\n  \"grade\": \"{{ (() => {\n  const name = $json.name || '';\n  const m = name.match(/Class(\\d{1,2})/g) || [];\n  if (m.length) return m.map(s => s.replace('Class','')).join('-');\n  if (/SrSec/i.test(name)) return '12';\n  if (/Sec/i.test(name)) return '10';\n  return '';\n})() }}\",\n  \"subject\": \"{{ (() => {\n  const parts = (($json.name || '').replace(/\\.pdf$/i,'')).split('_');\n  const kept = parts.filter(p =>\n    !/^(CBSE|ICSE)$/i.test(p) &&\n    !/^Class\\d{1,2}$/i.test(p) &&\n    !/^20\\d{2}(?:[-_]\\d{2})?$/.test(p) &&\n    !/^(Syllabus|MarkingScheme|Blueprint|Practical)$/i.test(p)\n  );\n  // remove leftover trailing 2-digit year piece like \"24\"\n  if (kept.length && /^\\d{2}$/.test(kept[kept.length - 1])) kept.pop();\n  return kept.join(' ');\n})() }}\",\n  \"year\": \"{{ (() => {\n  const s = $json.name || '';\n  const m = s.match(/20\\d{2}[-_]\\d{2}/) || s.match(/20\\d{2}/);\n  return m ? m[0].replace(/[_]/g,'-') : '';\n})() }}\",\n  \"doc_type\": \"{{ ((($json.name||'').match(/(Syllabus|MarkingScheme|Blueprint|Practical)/) || [,'Syllabus'])[1]) }}\",\n  \"doc_group\": \"{{ (() => { \n  const n = ($json.name||'').replace(/\\.pdf$/i,'');\n  const board = n.split('_')[0] || '';\n  const m = n.match(/Class(\\d{1,2})/g) || [];\n  const grade = m.map(s => s.replace('Class','')).join('-');\n  const parts = n.split('_');\n  const lastClassIdx = [...parts.keys()].filter(i => /^Class\\d{1,2}$/i.test(parts[i])).pop() ?? -1;\n  const stopIdx = parts.findIndex((p,i)=> i>lastClassIdx && /^(Syllabus|MarkingScheme|Blueprint|Practical)$/i.test(p));\n  const end = stopIdx > -1 ? stopIdx : parts.length;\n  const subject = parts.slice(lastClassIdx + 1, end).join(' ').replace(/_+/g,' ').trim();\n  return [board, grade, subject].filter(p => p && p.trim()).join(' ');\n})() }}\"\n}"
              }
            ]
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        944,
        192
      ],
      "id": "d098534a-49f2-498d-96a8-d3f28d432a20",
      "name": "Default Data Loader",
      "notesInFlow": false
    },
    {
      "parameters": {
        "chunkSize": 1500,
        "chunkOverlap": 200,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        960,
        384
      ],
      "id": "1068e095-9748-4213-ab57-1f0585339557",
      "name": "Recursive Character Text Splitter"
    },
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        192,
        784
      ],
      "id": "c0815dd1-3d56-4410-b7e3-a135cc89fa20",
      "name": "Telegram Trigger",
      "webhookId": "549f27ed-e034-42c4-add3-dec340215d3e",
      "credentials": {
        "telegramApi": {
          "id": "rvCPxnVgag2V7RQx",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are a Syllabus assistant. Answer ONLY from the provided knowledge base.\nIf the knowledge base does not contain the answer, reply with:\n\"Sorry! I can't find relevant information from the knowledge base.\"\nRespond concisely (4–6 lines). No greetings, no small talk, no explanations of your rules.\nUser query:{{ $json.message.text }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.1,
      "position": [
        640,
        784
      ],
      "id": "6d6b1820-239a-4643-90a2-9a790887bd19",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        640,
        1072
      ],
      "id": "438a2584-814a-43ce-a6cd-7dcd4a44941f",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "OvQkcvgFOY5mUqhG",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "{{ String(   $('Telegram Trigger').item.json.message?.chat?.id    || $('Telegram Trigger').item.json.message?.from?.id    || $json.chat_id ) }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        784,
        1072
      ],
      "id": "668e8566-73f6-41e6-b302-2effce40ac3f",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.from.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1024,
        784
      ],
      "id": "2c431672-60b4-4fce-9929-4173b6f35dda",
      "name": "Send a text message1",
      "webhookId": "0c8a34a4-d600-41c0-b059-63029bdf732f",
      "credentials": {
        "telegramApi": {
          "id": "rvCPxnVgag2V7RQx",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        928,
        1264
      ],
      "id": "5021c781-2d1a-4dc4-bbc9-b38efd91d693",
      "name": "Embeddings OpenAI1",
      "credentials": {
        "openAiApi": {
          "id": "OvQkcvgFOY5mUqhG",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "={{ $('Telegram Trigger').item.json.message.text }}",
        "pineconeIndex": {
          "__rl": true,
          "value": "assistant",
          "mode": "list",
          "cachedResultName": "assistant"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        912,
        1056
      ],
      "id": "7683a4ae-6e34-4bb5-b412-d35c7372a88f",
      "name": "Syllabusbot",
      "credentials": {
        "pineconeApi": {
          "id": "27E2ct9YptpAqVVa",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1BpNefSW_kBLxMhDRPh4JmRYQXi0SF5ED",
          "mode": "list",
          "cachedResultName": "Syllabus Advisor Bot",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1BpNefSW_kBLxMhDRPh4JmRYQXi0SF5ED"
        },
        "event": "fileCreated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "9bf0a4ef-17f4-4e17-9889-b76b056bdabd",
      "name": "Trigger High School",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "GFq4L7hRVe4ncs1Z",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "queryString": ".pdf",
        "limit": 75,
        "filter": {
          "folderId": {
            "__rl": true,
            "value": "1BpNefSW_kBLxMhDRPh4JmRYQXi0SF5ED",
            "mode": "list",
            "cachedResultName": "Syllabus Advisor Bot",
            "cachedResultUrl": "https://drive.google.com/drive/folders/1BpNefSW_kBLxMhDRPh4JmRYQXi0SF5ED"
          }
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        240,
        0
      ],
      "id": "ec6bb7f5-5fdb-45f7-b070-7105fdc6e032",
      "name": "Files From High School Folder",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "GFq4L7hRVe4ncs1Z",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        528,
        0
      ],
      "id": "573c38e7-8d72-42aa-860f-1961984dc42b",
      "name": "Download",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "GFq4L7hRVe4ncs1Z",
          "name": "Google Drive account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send a text message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI1": {
      "ai_embedding": [
        [
          {
            "node": "Syllabusbot",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Syllabusbot": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Trigger High School": {
      "main": [
        [
          {
            "node": "Files From High School Folder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Files From High School Folder": {
      "main": [
        [
          {
            "node": "Download",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download": {
      "main": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "a81151e4-55fb-4539-8361-d98e2c1a6ddc",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "06f505f7d9bf97258fc4003d0707888fccc731945db7cdd16b67af9477ae21c3"
  },
  "id": "gnu4DqI8dgEDfO14",
  "tags": []
}